html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "News Cycle", sans-serif;
  overflow: hidden;
}

body {
  height: 100vh;
  background: rgb(13, 24, 58);
  -webkit-transition: background-color 150ms ease-out !important;
  transition: background-color 150ms ease-out !important;
  font-family: "Roboto", sans-serif;
  color: white;
}

nav {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 4, 8);
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid rgb(29, 29, 29);
  -webkit-box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.light-Navbackground {
  background: #e0e3e4;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.logo path {
  stroke: #02cb9f;
}

.logo svg {
  width: 280px;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: #02cb9f;
  }
}

/* mode button */
.switchModeBtn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 0;
}

.btnIcon {
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  overflow: hidden;
}

.btnIcon:focus {
  outline: 0;
}

.fa-moon,
.fa-sun {
  color: #02cb9f;
  padding-top: 4px;
  font-size: 1.6em;
}

.hidden {
  display: none;
}

.switchModeBtn small {
  letter-spacing: 0.1px;
  font-size: 13px;
}

.sunIcon small {
  color: black;
}

.sunIcon,
.moonIcon {
  width: 95%;
  height: 50px;
  border-radius: 6px;
}

.moonIcon:hover {
  background-color: rgba(230, 230, 230, 0.2);
}

.sunIcon:hover {
  background-color: rgba(143, 143, 143, 0.2);
}

.light-background {
  background-color: #e9e9e9;
  -webkit-transition: background-color 150ms ease-out !important;
  transition: background-color 150ms ease-out !important;
}

@keyframes moveInIcon {
  0% {
    transform: translateX(-25px);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes moveOuIcon {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(40px);
  }
}

/* video */

.hiddenVideo {
  display: none;
}

.video {
  position: relative;
  text-align: center;
  margin: 65px auto;
}

#theVideo {
  width: 990px;
  height: 560px;
}

.btn {
  position: relative;
  text-align: center;
  width: 300px;
  height: 70px;
  position: relative;
  color: rgb(27, 27, 27);
  background-color: #02cb9f;
  display: block;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 0px rgb(1, 100, 70),
    0px 9px 25px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 5px 0px rgb(1, 100, 70),
    0px 9px 25px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 0px rgba(1, 100, 70),
    0px 9px 25px rgba(255, 255, 255, 0.1);
  margin: 70px auto;
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn:hover {
  animation: rotate 0.8s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.btn:active {
  -webkit-box-shadow: 0px 3px 0px rgb(11, 75, 56),
    0px 3px 6px rgba(0, 19, 31, 0.9);
  -moz-box-shadow: 0px 3px 0px rgba(11, 75, 56),
    0px 3px 6px rgba(0, 19, 31, 0.9);
  box-shadow: 0px 3px 0px rgba(11, 75, 56), 0px 3px 6px rgba(0, 19, 31, 0.9);
  position: relative;
  top: 3px;
}

button:focus {
  outline: 0;
}

@media screen and (max-width: 1024px) {
  #theVideo {
    width: 795px;
    height: 550px;
  }

  .btn {
    width: 300px;
    height: 70px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #theVideo {
    width: 100%;
    height: 400px;
    margin: 0;
  }

  .btn {
    width: 300px;
    height: 70px;
    font-size: 30px;
    margin-top: 55px;
  }

  .contaner {
    margin: auto 70px;
  }
}

@media screen and (max-width: 840px) {
  #theVideo {
    width: 600px;
    height: 450px;
    margin: 0;
  }

  .btn {
    width: 300px;
    height: 70px;
    font-size: 30px;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 840px) and (orientation: landscape) {
  * {
    overflow: visible;
  }
  nav {
    height: 60px;
  }

  .logo svg {
    width: 180px;
  }
  .fa-moon,
  .fa-sun {
    margin-top: 4px;
    font-size: 1em;
  }

  .contaner {
    position: relative;
    top: -30px;
  }

  #theVideo {
    width: 90%;
    height: 190px;
  }

  .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 220px;
    height: 50px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .contaner {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-70%, 0);
  }

  #theVideo {
    width: 400px;
    height: 220px;
  }

  .btn {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 50px;
    font-size: 25px;
  }
}

@media screen and (max-width: 685px) {
  .logo path {
    stroke-width: 3;
  }

  #theVideo {
    width: 70%;
    height: 450px;
  }
  .fa-moon,
  .fa-sun {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 500px) {
  * {
    overflow: visible;
  }
  nav {
    height: 70px;
  }

  .logo svg {
    width: 210px;
  }

  .fa-moon,
  .fa-sun {
    margin-top: 8px;
    font-size: 1em;
  }

  .btn {
    position: relative;
    width: 250px;
    height: 60px;
    font-size: 25px;
    top: -70px;
  }

  .contaner {
    text-align: center;
  }

  .video {
    margin: 30px 0;
  }

  #theVideo {
    margin-top: 30px;
  }

  #theVideo,
  #theVideo3,
  #theVideo2,
  #theVideo4,
  #theVideo5 {
    width: 100% !important;
    height: 300px !important;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
  }

  #theVideo5 {
    border: none;
  }

  .hiddenVideo {
    display: inline-block;
    width: 100% !important;
    height: 300px !important;
  }
}

@media screen and (max-width: 435px) {
  #theVideo {
    width: 80%;
    height: 250px;
  }

  .btn {
    width: 250px;
    height: 50px;
    font-size: 25px;
    margin: 50px auto;
  }
  .logo svg {
    width: 180px;
  }
}

@media screen and (max-width: 355px) {
  nav {
    padding: 20px;
  }
  .logo svg {
    width: 150px;
  }
}
